<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Check For Supported Swift Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Object Server Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Realm iOS static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Realm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RealmSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Set Swift Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftLint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TestHost.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1A5E711992EB7400F45F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0A40841C62ACCC00BBB612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D659E7D1BE04556006515A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D660FCB1BE98C560021E04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D660FD71BE98C7C0021E04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DD7557B1BE056DE002800DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C04B4BD71B55C47600FAE58E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8267FB11D90B79000E001C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E83EAC791BED3D880085CCD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E856D1DE195614A400FB2FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8D89BA21955FC6D00CF2B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
